In [1]:
import pandas as pd
import numpy as np

In [2]:
nhanes_df = pd.read_csv("NHANES_age_prediction.csv")
nhanes_df.head(-5)

,SEQN,age_group,RIDAGEYR,RIAGENDR,PAQ605,BMXBMI,LBXGLU,DIQ010,LBXGLT,LBXIN
0,73564.0,Adult,61.0,2.0,2.0,35.7,110.0,2.0,150.0,14.91
1,73568.0,Adult,26.0,2.0,2.0,20.3,89.0,2.0,80.0,3.85
2,73576.0,Adult,16.0,1.0,2.0,23.2,89.0,2.0,68.0,6.14
3,73577.0,Adult,32.0,1.0,2.0,28.9,104.0,2.0,84.0,16.15
4,73580.0,Adult,38.0,2.0,1.0,35.9,103.0,2.0,81.0,10.92
...,...,...,...,...,...,...,...,...,...,...
2268,83692.0,Senior,68.0,1.0,2.0,19.1,89.0,2.0,136.0,1.56
2269,83694.0,Adult,36.0,2.0,2.0,25.3,99.0,2.0,128.0,20.72
2270,83699.0,Adult,37.0,2.0,2.0,20.8,83.0,2.0,113.0,1.93
2271,83702.0,Senior,80.0,2.0,2.0,27.9,111.0,2.0,72.0,13.91
2272,83707.0,Adult,18.0,1.0,2.0,22.5,98.0,2.0,79.0,3.51

In [3]:
nhanes_df.isnull().sum()

SEQN         0
age_group    0
RIDAGEYR     0
RIAGENDR     0
PAQ605       0
BMXBMI       0
LBXGLU       0
DIQ010       0
LBXGLT       0
LBXIN        0
dtype: int64

In [ ]:
s